body {
    display: flex;
    flex-direction: column; 
    font-family: Cambria, serif; 
    text-align: center;
    background: #222;
    color: #7b90bc;
    background-image: url(image/bg1.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

header {
    margin-bottom: 20px;
}

header input{
    padding: 8px;
    font-size: 10px;
    border-radius: 20px;
    font-family: Cambria, serif; 
    background-color: rgba(219, 225, 246, 0.8);
    color: #7b90bc;
    width: 50%;
    border: 1px white;
}

header button {
    padding: 8px;
    font-size: 10px;
    border-radius: 15px;
    font-family: Cambria, serif; 
    background-color: rgba(126, 136, 166, 0.8);
    color: white;
    border: 1px white;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    text-align: center; 
    font-size: 10px;
    z-index: 100; /* Đảm bảo footer nằm trên các phần tử khác */
}

.album-container {
    display: flex; /* Sử dụng flexbox để hiển thị các phần chứa nhạc theo chiều ngang */
    flex-wrap: wrap; /* Cho phép các phần tử xuống dòng khi không đủ chỗ */
    justify-content: center; /* Căn giữa các phần tử */
}

a {
    text-decoration: none;
    color: #7b90bc;
}

.album {
    width: 150px;
    height: 170px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    background-color: rgba(159, 173, 221, 0.8);
}

img {
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

button {
    padding: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer; 
}

.slide-show{
    width: 50%;
    height: 320px;
    overflow: hidden;
    position: relative;
    margin: 20px auto; /* Căn giữa theo chiều ngang */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Đảm bảo nút không bị ẩn */
.slide-show button {
    width: 40px; /* Tăng kích thước */
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(219, 225, 246, 0.8);
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%; /* Làm nút tròn */
    z-index: 10; /* Đảm bảo nút hiển thị trên slider */
    padding: auto;
}

.slide-show button i {
    color: rgb(132, 150, 158); /* Đổi màu icon */
    font-size: 16px; /* Giảm kích thước icon */
}


#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.slide-show  button:hover {
    background: rgba(229, 233, 238, 0.8);
}

.list-images{
    display: flex;
    /* transform: translateX(); */
    transition: transform 1s ease-in-out;
}

.list-images img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ nguyên tỉ lệ, cắt phần dư */
    position: relative; /* Không cần absolute */
}